{% if task.is_completed %}
<tr class="bg-success task{{task.id}}_{{current_task_type}}" id="completed-task-{{current_task_type}}">
    {% elif task.is_current %}
<tr class="bg-warning">
    {% else %}
<tr class="task{{task.id}}_{{current_task_type}}" id="incomplete-task-{{current_task_type}}" name="{{task.name}}">
    {% endif %}
    <td class="text-center align-middle">
        <button type="button" class="btn btn-lg taskHelpModal" tip="{{task.tip}}"
                link="{{task.wiki_link}}" value="{{task.name}}">
            <i class="bi bi-info-circle text-{{'white' if task.is_current or task.is_completed else 'success'}} fw-bold"></i>
        </button>
    </td>
    <td class="text-center align-middle">{{task.name}}</td>
    <td class="text-center align-middle"><img src="/static/assets/placeholder_complete.png"
                                              data-src="/static/assets/{{task.asset_image}}" width="40"
                                              height="40" alt="task_image" class="lazyload">
    </td>
    <td class="text-center align-middle">
        <form>
            {% if task.is_completed %}
            <button class="btn btn-default revertButton" task_id="{{task.id}}" type="button"
                    name="{{current_task_type}}Tasks">
                <img src="/static/assets/placeholder_complete.png"
                     data-src="/static/Remove_button.png" alt="check image" class="lazyload">
            </button>
            {% elif task.is_current %}
            {% else %}
            <button class="btn btn-default updateButton" task_id="{{task.id}}" type="button"
                    name="{{current_task_type}}Tasks">
                <img src="/static/assets/placeholder_incomplete.png"
                     data-src="/static/check_button.png" alt="check image" class="lazyload">
            </button>
            {% endif %}
        </form>
    </td>
</tr>