<div>
    <h3>Rank Up Results for: {{rs_username}}</h3>
</div>
<div class="rank-results-row">
    <p>Easy Tier:</p>
    {% if easy_check[0] == true %}
    <p class="complete">COMPLETE</p>
    {% else %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-easy">Missing Easy Tasks</button>
    <ul>
        {% for task in easy_check[1] %}
        <li class="li-easy" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="rank-results-row">
    <p>Medium Tier:</p>
    {% if medium_check[0] == true %}
    <p class="complete">COMPLETE</p>
    {% else %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-medium">Missing Medium Tasks</button>
    <ul>
        {% for task in medium_check[1] %}
        <li class="li-medium" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<div class="rank-results-row">
    <p>Hard Tier:</p>
    {% if hard_check[0] == true %}
    <p class="complete">COMPLETE</p>
    {% else %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-hard">Missing Hard Tasks</button>
    <ul>
        {% for task in hard_check[1] %}
        <li class="li-hard" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<div class="rank-results-row">
    <p>Elite Tier:</p>
    {% if elite_check[0] == true %}
    <p class="complete">COMPLETE</p>
    {% else %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-elite">Missing Elite Tasks</button>
    <ul>
        {% for task in elite_check[1] %}
        <li class="li-elite" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
    <div class="rank-results-row">
        <p class="complete">If you believe that you have completed a task this is showing failed, ensure that your <a href="https://collectionlog.net">Collection Log Data</a> is updated/sync'd. Refresh the page to try and check again.</p>
    </div>