<div>
    <h3>Rank Up Results for: {{rs_username}}</h3>
</div>
<div class="rank-results-row">
    <p>Easy Tier:</p>
    {% if easy_check %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-easy">Missing Tasks</button>
    <ul>
        {% for task in easy_check %}
        <li class="li-easy" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="complete">COMPLETE</p>
    {% endif %}
</div>

<div class="rank-results-row">
    <p>Medium Tier:</p>
    {% if medium_check %}
    <p class="incomplete
    ">INCOMPLETE</p>
    <button class="button-failed button-orange missing-medium">Missing Tasks</button>
    <ul>
        {% for task in medium_check %}
        <li class="li-medium" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="complete">COMPLETE</p>
    {% endif %}
</div>

<div class="rank-results-row">
    <p>Hard Tier:</p>
    {% if hard_check %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-hard">Missing Tasks</button>
    <ul>
        {% for task in hard_check %}
        <li class="li-hard" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="complete">COMPLETE</p>
    {% endif %}
</div>


<div class="rank-results-row">
    <p>Elite Tier:</p>
    {% if elite_check %}
    <p class="incomplete">INCOMPLETE</p>
    <button class="button-failed button-orange missing-impossible">Missing Tasks</button>
    <ul>
        {% for task in elite_check %}
        <li class="li-elite" style="display: none;">{{task}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="complete">COMPLETE</p>
    {% endif %}
</div>