<div>
    <div>
        <h3 class="center">Import Results For: <p class="incomplete">{{rs_username}}</p></h3>
    </div>

    <div class="rank-results-row center">
        <p class="complete">Easy Tasks: <p class="incomplete">{{easy}}</p></p>
    </div>

    <div class="rank-results-row center">
        <p class="complete">Medium Tasks: <p class="incomplete">{{medium}}</p></p>
    </div>

    <div class="rank-results-row center">
        <p class="complete">Hard Tasks: <p class="incomplete">{{hard}}</p></p>
    </div>

    <div class="rank-results-row center">
        <p class="complete">Elite Tasks: <p class="incomplete">{{elite}}</p></p>
    </div>
    <p>Reminder: Dairy Tasks are not tracked via TempleOSRS you will need to manually complete.</p>
    <h5 class="center">Browse a task list to see what tasks you've completed already!</h3>
</div>



