{% extends "base.html" %}
<title>{% block title %}Task App Unofficial Dashboard{%endblock %}</title> 
{% block context %}


<br>
<br>


<div class="container my-5  text-white bg-dark border-light border">

        <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-2 border-light border">

        <ul class="nav nav-pills pill-success d-flex flex-column">
          <li class="nav-item mt-2">
            {% if easy_progress == 0 %}
            <a class="nav-link percent_red fw-bold" data-bs-toggle="tab" href="#easy" role="tab">Easy - {{easy_progress}}%</a>
            {% elif easy_progress <=24 %}
            <a class="nav-link percent_orange_red fw-bold" data-bs-toggle="tab" href="#easy" role="tab">Easy - {{easy_progress}}%</a>
            {% elif easy_progress <= 49 %}
            <a class="nav-link percent_orange fw-bold" data-bs-toggle="tab" href="#easy" role="tab">Easy - {{easy_progress}}%</a>
            {% elif easy_progress <= 74 %}
            <a class="nav-link percent_yellow fw-bold" data-bs-toggle="tab" href="#easy" role="tab">Easy - {{easy_progress}}%</a>
            {% elif easy_progress <= 99 %}
            <a class="nav-link percent_green_yellow fw-bold" data-bs-toggle="tab" href="#easy" role="tab">Easy - {{easy_progress}}%</a>
            {% elif easy_progress == 100 %}
            <a class="nav-link show percent_green fw-bold" data-bs-toggle="tab" href="#easy" role="tab">Easy - {{easy_progress}}%</a>
            {% endif %}
          </li>
          <hr class="text-white">
          <li class="nav-item">
        
            {% if medium_progress == 0 %}
            <a class="nav-link percent_red fw-bold" data-bs-toggle="tab" href="#medium" role="tab">Medium - {{medium_progress}}%</a>
            {% elif medium_progress <=24 %}
            <a class="nav-link percent_orange_red fw-bold" data-bs-toggle="tab" href="#medium" role="tab">Medium - {{medium_progress}}%</a>
            {% elif medium_progress <= 49 %}
            <a class="nav-link percent_orange fw-bold" data-bs-toggle="tab" href="#medium" role="tab">Medium - {{medium_progress}}%</a>
            {% elif medium_progress <= 74 %}
            <a class="nav-link percent_yellow fw-bold" data-bs-toggle="tab" href="#medium" role="tab">Medium - {{medium_progress}}%</a>
            {% elif medium_progress <= 99 %}
            <a class="nav-link percent_green_yellow fw-bold" data-bs-toggle="tab" href="#medium" role="tab">Medium - {{medium_progress}}%</a>
            {% elif medium_progress == 100 %}
            <a class="nav-link percent_green fw-bold" data-bs-toggle="tab" href="#medium" role="tab">Medium - {{medium_progress}}%</a>
            {% endif %}
          </li>
          <hr class="text-white">
          <li class="nav-item">
        
            {% if hard_progress == 0 %}
            <a class="nav-link percent_red fw-bold" data-bs-toggle="tab" href="#hard" role="tab">Hard - {{hard_progress}}%</a>
            {% elif hard_progress <=24 %}
            <a class="nav-link percent_orange_red fw-bold" data-bs-toggle="tab" href="#hard" role="tab">Hard - {{hard_progress}}%</a>
            {% elif hard_progress <= 49 %}
            <a class="nav-link percent_orange fw-bold" data-bs-toggle="tab" href="#hard" role="tab">Hard - {{hard_progress}}%</a>
            {% elif hard_progress <= 74 %}
            <a class="nav-link percent_yellow fw-bold" data-bs-toggle="tab" href="#hard" role="tab">Hard - {{hard_progress}}%</a>
            {% elif hard_progress <= 99 %}
            <a class="nav-link percent_green_yellow fw-bold" data-bs-toggle="tab" href="#hard" role="tab">Hard - {{hard_progress}}%</a>
            {% elif hard_progress == 100 %}
            <a class="nav-link percent_green fw-bold" data-bs-toggle="tab" href="#hard" role="tab">Hard - {{hard_progress}}%</a>
            {% endif %}
          </li>
          <hr class="text-white">
            <li class="nav-item mb-2">
        
                {% if elite_progress == 0 %}
                <a class="nav-link percent_red fw-bold" data-bs-toggle="tab" href="#elite" role="tab">Elite - {{elite_progress}}%</a>
                {% elif elite_progress <=24 %}
                <a class="nav-link percent_orange_red fw-bold" data-bs-toggle="tab" href="#elite" role="tab">Elite - {{elite_progress}}%</a>
                {% elif elite_progress <= 49 %}
                <a class="nav-link percent_orange fw-bold" data-bs-toggle="tab" href="#elite" role="tab">Elite - {{elite_progress}}%</a>
                {% elif elite_progress <= 74 %}
                <a class="nav-link percent_yellow fw-bold" data-bs-toggle="tab" href="#elite" role="tab">Elite - {{elite_progress}}%</a>
                {% elif elite_progress <= 99 %}
                <a class="nav-link percent_green_yellow fw-bold" data-bs-toggle="tab" href="#elite" role="tab">Elite - {{elite_progress}}%</a>
                {% elif elite_progress == 100 %}
                <a class="nav-link percent_green fw-bold" data-bs-toggle="tab" href="#elite" role="tab">Elite - {{elite_progress}}%</a>
                {% endif %}
              </li>

        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-10 mb-4">

        <!-- Tab panels -->
        <div class="tab-content pt-0">

          <!--Panel 1-->
          <div class="tab-pane fade" id="easy" role="tabpanel">
            <div class="row ms-5">
                <div class="col">
                    <button type="button" class="btn btn-lg float-end" data-bs-toggle="modal" data-bs-target="#taskHelpModal_easy">
                        <i class="bi bi-info-circle text-success"></i>
                    </button>
                 </div>
            </div>
         <div class="row" id="easy_row">
            <div class="col">
                <div class="col d-flex m-5 justify-content-center pt-3">
                    <h5 class="text-white">{{task_easy}}</h5>
                </div>
            </div>

            <div class="col">
                {% if image_easy != none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/{{image_easy}}" width= "60" height="60" alt="task_image">
                </div>
                {% elif image_easy == none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/blank.png" width= "60" height="60" alt="task_image" class="hide_img">
                    <!-- <p class="text-white">{{task}}</p> -->
                </div>
                {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="col">
                <div class="col d-flex justify-content-center">
                    <form>
                        <button class="btn btn-default easyGenerate">
                            <img src="/static/generate_task_button_easy.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex justify-content-center ">
                    <form>
                        <button class="btn btn-default easyComplete">
                            <img src="/static/complete_task_button_easy.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
         </div>

          </div>
          <!--/.Panel 1-->

          <!--Panel 2-->
          <div class="tab-pane fade" id="medium" role="tabpanel">
            <div class="row ms-5">
                <div class="col">
                    <button type="button" class="btn btn-lg float-end" data-bs-toggle="modal" data-bs-target="#taskHelpModal_easy">
                        <i class="bi bi-info-circle text-success"></i>
                    </button>
                 </div>
            </div>
         <div class="row" id="medium_row">
            <div class="col">
                <div class="col d-flex m-5 justify-content-center pt-3">
                    <h5 class="text-white">{{task_medium}}</h5>
                </div>
            </div>

            <div class="col">
                {% if image_medium != none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/{{image_medium}}" width= "60" height="60" alt="task_image">
                </div>
                {% elif image_medium == none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/blank.png" width= "60" height="60" alt="task_image" class="hide_img">
                    <!-- <p class="text-white">{{task}}</p> -->
                </div>
                {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="col">
                <div class="col d-flex justify-content-center">
                    <form>
                        <button class="btn btn-default mediumGenerate">
                            <img src="/static/generate_task_button_medium.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex justify-content-center ">
                    <form>
                        <button class="btn btn-default mediumComplete">
                            <img src="/static/complete_task_button_medium.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
         </div>
    </div>
          <!--/.Panel 2-->

          <!--Panel 3-->
          <div class="tab-pane fade" id="hard" role="tabpanel">
            <div class="row ms-5">
                <div class="col">
                    <button type="button" class="btn btn-lg float-end" data-bs-toggle="modal" data-bs-target="#taskHelpModal_easy">
                        <i class="bi bi-info-circle text-success"></i>
                    </button>
                 </div>
            </div>
         <div class="row" id="hard_row">
            <div class="col">
                <div class="col d-flex m-5 justify-content-center pt-3">
                    <h5 class="text-white">{{task_hard}}</h5>
                </div>
            </div>

            <div class="col">
                {% if image_hard != none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/{{image_hard}}" width= "60" height="60" alt="task_image">
                </div>
                {% elif image_hard == none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/blank.png" width= "60" height="60" alt="task_image" class="hide_img">
                    <!-- <p class="text-white">{{task}}</p> -->
                </div>
                {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="col">
                <div class="col d-flex justify-content-center">
                    <form>
                        <button class="btn btn-default hardGenerate">
                            <img src="/static/generate_task_button_hard.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex justify-content-center ">
                    <form>
                        <button class="btn btn-default hardComplete">
                            <img src="/static/complete_task_button_hard.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
         </div>

          </div>
          <!--/.Panel 3-->

          <!--Panel 4-->
          <div class="tab-pane fade" id="elite" role="tabpanel">
            <div class="row ms-5">
                <div class="col">
                    <button type="button" class="btn btn-lg float-end" data-bs-toggle="modal" data-bs-target="#taskHelpModal_easy">
                        <i class="bi bi-info-circle text-success"></i>
                    </button>
                 </div>
            </div>
         <div class="row" id="elite_row">
            <div class="col">
                <div class="col d-flex m-5 justify-content-center pt-3">
                    <h5 class="text-white">{{task_elite}}</h5>
                </div>
            </div>

            <div class="col">
                {% if image_elite != none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/{{image_hard}}" width= "60" height="60" alt="task_image">
                </div>
                {% elif image_elite == none %}
                <div class="col d-flex m-5  justify-content-center">
                    <img src="/static/assets/blank.png" width= "60" height="60" alt="task_image" class="hide_img">
                    <!-- <p class="text-white">{{task}}</p> -->
                </div>
                {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="col">
                <div class="col d-flex justify-content-center">
                    <form>
                        <button class="btn btn-default eliteGenerate">
                            <img src="/static/generate_task_button_elite.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex justify-content-center ">
                    <form>
                        <button class="btn btn-default eliteComplete">
                            <img src="/static/complete_task_button_elite.png" alt="button to generate a new task." class="img-fluid" width= "250" height="100">
                        </button>
                    </form>
                </div>
            </div>
         </div>

          </div>
        
          <!--/.Panel 4-->

        


      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>





<div class="modal fade" id="taskHelpModal_easy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark">
        <div class="modal-header text-center">
            <h4 class="modal-title text-white w-100 fw-bold" id="staticBackdropLabel">Task Help</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white">
            {% if tip_easy != None %}
            <p>{{tip_easy}}</p>
            <p>Link to the wiki for this task: <a href="{{link_easy}}" target="_blank">Wiki Page</a></p>
            {% else %}
            <p>You do not have an easy task currently. You can generate a task and then click me!</p>
            {% endif %}


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
        </div>
        </div>
    </div>
    </div>




    <div class="modal fade" id="taskHelpModal_medium" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-dark">
            <div class="modal-header text-center">
                <h4 class="modal-title text-white w-100 fw-bold" id="staticBackdropLabel">Task Help</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                {% if tip_medium != None %}
                <p>{{tip_medium}}</p>
                <p>Link to the wiki for this task: <a href="{{link_medium}}" target="_blank">Wiki Page</a></p>
                {% else %}
                <p>You do not have a medium task currently. You can generate a task and then click me!</p>
                {% endif %}


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
            </div>
        </div>
        </div>

        


        <div class="modal fade" id="taskHelpModal_hard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-dark">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-white w-100 fw-bold" id="staticBackdropLabel">Task Help</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-white">
                    {% if tip_hard != None %}
                    <p>{{tip_hard}}</p>
                    <p>Link to the wiki for this task: <a href="{{link_hard}}" target="_blank">Wiki Page</a></p>
                    {% else %}
                    <p>You do not have a hard task currently. You can generate a task and then click me!</p>
                    {% endif %}
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                </div>
                </div>
            </div>
            </div>

            


            <div class="modal fade" id="taskHelpModal_elite" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content bg-dark">
                    <div class="modal-header text-center">
                        <h4 class="modal-title text-white w-100 fw-bold" id="staticBackdropLabel">Task Help</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-white">
                        {% if tip_elite != None %}
                        <p>{{tip_elite}}</p>
                        <p>Link to the wiki for this task: <a href="{{link_elite}}" target="_blank">Wiki Page</a></p>
                        {% else %}
                        <p>You do not have an elite task currently. You can generate a task and then click me!</p>
                        {% endif %}
        
        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                    </div>
                </div>
                </div>
        

<script>
    $(document).ready(function() {
        $(".active").removeClass("active");
        $("#dashboard").addClass("active");
    });
</script>
<script>
    function toggler(Id){
        $("#" + Id).toggle();
    }
</script>


{% endblock %}
