{% extends "base_updated.html" %}
{% block head %}
{% endblock %}
{% block context %}
     <div class="container">
        <div class="main-content">
            <div class="task-center task-center-margin">
                <div class="triangle-top-left">
                    <div class="decoration-top-left shadow"></div>
                </div>
                <div class="triangle-top-right">
                    <div class="decoration-top-right shadow"></div>
                </div>
                <div class="triangle-bottom-left">
                    <div class="decoration-bottom-left shadow"></div>
                </div>
                <div class="triangle-bottom-right">
                    <div class="decoration-bottom-right shadow"></div>
                </div>
                <div class="tab rsText">
                    <div class="tablink tab-selected" onclick="openTier(event, 'Easy')">Easy Tier</div>
                    <div class="tablink" onclick="openTier(event, 'Medium')">Medium Tier</div>
                    <div class="tablink" onclick="openTier(event, 'Hard')">Hard Tier</div>
                    <div class="tablink" onclick="openTier(event, 'Elite')">Elite Tier</div>
                    <div class="tablink" onclick="openTier(event, 'Master')">Master Tier</div>
                </div>

                <br>
                <hr3 class="rsText">Active Tasks</hr3>
                <br>

                <div class="tab">
                    <div class="square cut-corners bg-override">
                        {% if image_easy == None %}
                        <img id="easy_image_preview" src="/static/assets/Cake_of_guidance_detail.png" alt="" width="25px" height="25px">
                        {% else %}
                            <img class="image-preview" id="easy_image_preview" src="{{image_easy}}" alt="" name="{{task_easy}}" width="25px" height="25px">
                        {% endif %}
                    </div>
                    <div class="square cut-corners bg-override">
                        {% if image_medium == None %}
                        <img id="medium_image_preview" src="/static/assets/Cake_of_guidance_detail.png" alt="" width="25px" height="25px">
                        {% else %}
                        <img id="medium_image_preview" src="{{image_medium}}" name="{{task_medium}}" alt="" width="25px" height="25px">
                        {% endif %}
                    </div>
                    <div class="square cut-corners bg-override">
                        {% if image_hard == None %}
                        <img  id="hard_image_preview" src="/static/assets/Cake_of_guidance_detail.png" alt="" width="25px" height="25px">
                        {% else %}
                        <img  id="hard_image_preview" src="{{image_hard}}" name="{{task_hard}}" alt="" width="25px" height="25px">
                        {% endif %}
                    </div>
                    <div class="square cut-corners bg-override">
                        {% if image_elite == None %}
                        <img id="elite_image_preview" src="/static/assets/Cake_of_guidance_detail.png" alt="" width="25px" height="25px">
                        {% else %}
                        <img id="elite_image_preview" src="{{image_elite}}" name="{{task_elite}}" alt="" width="25px" height="25px">
                        {% endif %}
                    </div>
                    <div class="square cut-corners bg-override">
                        {% if image_master == None %}
                        <img id="master_image_preview" src="/static/assets/Cake_of_guidance_detail.png" alt="" width="25px" height="25px">
                        {% else %}
                        <img id="master_image_preview" src="{{image_master}}" name="{{task_master}}" alt="" width="25px" height="25px">
                        {% endif %}
                    </div>

                </div>

                <p id="b" class="rsText active-task-tooltip">placeholder text</p>

                <br>
                <br>

                <div id="Easy" class="tier">
                    <hr>
                    <div class="task-content rsText">
                        <div id="frame-container">
                            {% if image_easy == None %}
                            <a id="easy_placeholder" href="#" class="imageTask" data-tip="Generate a Task!"><img id="easy_image" class="frame item-image imageTask" data-tip="Generate a Task!" src="/static/assets/Cake_of_guidance_detail.png"/></a>
                            {% else %}
                            <a id="easy_imageTask" class="imageTask" href="{{link_easy}}" target="_blank" data-tip="{{tip_easy}}"><img id="easy_image"class="frame item-image" src="{{image_easy}}"/></a>

                            {% endif %}
                        </div>
                        <div id="message-container">
                            {% if task_easy == "" %}
                            <p id="easy_task" class="message">You have no easy task!</p>
                            {% else %}
                            <p id="easy_task" class="message">{{task_easy}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="button-section">
                        <button id="generate_unofficial" class="button-style" name="easy"><img class="responsive-image" src="/static/generate_task_button.png" alt=""></button>
                        <button id="complete_unofficial" class="button-style" name="easy"><img class="responsive-image" src="/static/complete_task_button.png" name="easy" alt=""></button>
                    </div>
                </div>



                <div id="Medium" class="tier" style="display: none;">
                    <hr>
                    <div class="task-content rsText">
                        <div id="frame-container">
                            {% if image_medium == None %}
                            <a id="medium_placeholder" href="#" class="imageTask" data-tip="Generate a Task!"><img id="medium_image" class="frame item-image imageTask" data-tip="Generate a Task!" src="/static/assets/Cake_of_guidance_detail.png"/></a>
                            {% else %}
                            <a id="medium_imageTask" href="{{link_medium}}" target="_blank" data-tip="{{tip_medium}}"><img id="medium_image"class="frame item-image imageTask" src="{{image_medium}}"/></a>
                            {% endif %}
                        </div>
                        <div id="message-container">
                            {% if task_medium == "" %}
                            <p id="medium_task" class="message">You have no medium task!</p>
                            {% else %}
                            <p id="medium_task" class="message">{{task_medium}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="button-section">
                        <button id="generate_unofficial" class="button-style" name="medium"><img class="responsive-image" src="/static/generate_task_button.png" alt=""></button>
                        <button id="complete_unofficial" class="button-style" name="medium"><img class="responsive-image" src="/static/complete_task_button.png" alt=""></button>
                    </div>
                </div>

                <div id="Hard" class="tier" style="display: none;">
                    <hr>
                    <div class="task-content rsText">
                        <div id="frame-container">
                            {% if image_hard == None %}
                            <a id="hard_placeholder" href="#" class="imageTask" data-tip="Generate a Task!"><img id="hard_image" class="frame item-image imageTask" data-tip="Generate a Task!" src="/static/assets/Cake_of_guidance_detail.png"/></a>
                            {% else %}
                            <a id="hard_imageTask" class="imageTask" href="{{link_hard}}" target="_blank" data-tip="{{tip_hard}}"><img id="hard_image"class="frame item-image imageTask" src="{{image_hard}}"/></a>

                            {% endif %}
                        </div>
                        <div id="message-container">
                            {% if task_hard == "" %}
                            <p id="hard_task" class="message">You have no hard task!</p>
                            {% else %}
                            <p id="hard_task" class="message">{{task_hard}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="button-section">
                        <button id="generate_unofficial" class="button-style" name="hard"><img class="responsive-image" src="/static/generate_task_button.png" alt=""></button>
                        <button id="complete_unofficial" class="button-style" name="hard"><img class="responsive-image" src="/static/complete_task_button.png" alt=""></button>
                    </div>
                </div>

                <div id="Elite" class="tier" style="display: none;">
                    <hr>
                    <div class="task-content rsText">
                        <div id="frame-container">
                            {% if image_elite == None %}
                            <a id="elite_placeholder" href="#" class="imageTask" data-tip="Generate a Task!"><img id="elite_image" class="frame item-image imageTask" data-tip="Generate a Task!" src="/static/assets/Cake_of_guidance_detail.png"/></a>
                            {% else %}
                            <a id="elite_imageTask" class="imageTask" href="{{link_elite}}" target="_blank" data-tip="{{tip_elite}}"><img id="elite_image"class="frame item-image imageTask" src="{{image_elite}}"/></a>

                            {% endif %}
                        </div>
                        <div id="message-container">
                            {% if task_elite == "" %}
                            <p id="elite_task" class="message">You have no elite task!</p>
                            {% else %}
                            <p id="elite_task" class="message">{{task_elite}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="button-section">
                        <button id="generate_unofficial" class="button-style" name="elite"><img class="responsive-image" src="/static/generate_task_button.png" alt=""></button>
                        <button id="complete_unofficial" class="button-style" name="elite"><img class="responsive-image" src="/static/complete_task_button.png" alt=""></button>
                    </div>
                </div>

                <div id="Master" class="tier" style="display: none;">
                    <hr>
                    <div class="task-content rsText">
                        <div id="frame-container">
                            {% if image_master == None %}
                            <a id="master_placeholder" href="#" class="imageTask" data-tip="Generate a Task!"><img id="master_image" class="frame item-image imageTask" data-tip="Generate a Task!" src="/static/assets/Cake_of_guidance_detail.png"/></a>
                            {% else %}
                            <a id="master_imageTask" class="imageTask" href="{{link_master}}" target="_blank" data-tip="{{tip_master}}"><img id="master_image"class="frame item-image imageTasks" src="{{image_master}}"/></a>
                            {% endif %}
                        </div>
                        <div id="message-container">
                            {% if task_master == "" %}
                            <p id="master_task" class="message">You have no master task!</p>
                            {% else %}
                            <p id="master_task" class="message">{{task_master}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="button-section">
                        <button id="generate_unofficial" class="button-style" name="master"><img class="responsive-image" src="/static/generate_task_button.png" alt=""></button>
                        <button id="complete_unofficial" class="button-style" name="master"><img class="responsive-image" src="/static/complete_task_button.png" alt=""></button>
                    </div>
                </div>

            </div>
        </div>
     </div>

<script>
    function openTier(event, tier) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tier");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" tab-selected", "");
        }
        document.getElementById(tier).style.display = "block";
        event.currentTarget.className += " tab-selected";
    }
</script>

{% endblock %}
