<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content bg-dark">
    <div class="modal-header text-center">
      <h5 class="modal-title text-white w-100" id="betaModal">Email Verification</h5>
      
    </div>
    <div class="modal-body">
      <p class="text-white">Verification email was sent to provided email address.</p>
      <p class="text-white">Check your email and, click the link provided to complete verification.</p>
      <p class="text-white">Be sure to check your spam folder! </p>
      <p class="text-white"> You may close this browser tab/window now.</p>


</div>
<div class="modal-footer">
    
    
</div>

    </div>
  </div>
  