{% extends "base_unauth.html" %}
{% block title %}
{% endblock %}
{% block head %}
{% endblock %}
{% block context %}
        <div class="hero rsText">
            <h1>Welcome to TaskApp</h1>
            <p class="complete">Your journey through OSRS, one random task at a time.</p>
            <h4>Inspired by Generate Task Series by: <a href="https://www.youtube.com/@TediousRS" target="_blank">Tedious</a></h4>

            <br>
            <br>
            <div class="buttons">
                <a href="/login/"><button class="profile-button">Login</button></a>
                <p>or</p>
                <a href="/register/"><button class="profile-button">Register</button></a>
                
            </div>
        </div>


{% endblock %}