<!DOCTYPE html>
<html>
  <head>
    <title>Accordion</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="new-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="body" id="body__wrapper">
    <div class="page__wrapper">
      <h1 class="heading">FAQ</h1>
      <div class="faq-accordion">
        <details>
          <summary>Tasks - 7 Questions / Answers</summary>
          <div class="faq-accordion">
            <details>
              <summary>How can I track my tasks?</summary>
              <p>Option 1: You can use this website to track you tasks</p>
              <p>Option 2: Use the new Collection Log Master Runelite app</p>
              <p>Option 3: Use the <a href="https://bit.ly/2IlOXjb" target="_blank">spreadsheet</a>. </p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary> How do Combat Achievements work with tasks?</summary>
              <p>You can work on tasks in a certain tier when the equivalent tier has been completed in the spreadsheet as long as you have all necessary requirements for it. (no grinding to 62 Slayer to kill a Wyrm just because you’ve completed Easy Tier)</p>
              <p>e.g. 100% Easy Tier completion means being able to go and do Easy Combat Achievement tasks whenever you want.</p>
              <p>There is no requirement to complete these, it's just an option to go for them.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What do I unlock for completing Easy tier of the spreadsheet</summary>
              <p>Ability to do passive farm runs to collect herblore supplies. (Farming contracts, herbs, herblore secondaries, and Hespori)</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What do I unlock for completing Medium tier of the spreadsheet</summary>
              <p>Ability to imbue items in NMZ/PVP Arena & to get the imbued Mage Arena 2 cape.</p>
              <p>You may unlock the “Like a Boss” Slayer reward, and kill up to 35 boss variants per regular Slayer task.</p>
              <p>Allowed to complete elite/master clues as you get them to stack up the caskets for those clue tasks (granted you don't have to get extra requirements for them)</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What do I unlock for completing Hard tier of the spreadsheet</summary>
              <p>Food and potions: You can fish Karambwan, Minnows and Anglerfish for food. You can make potions for training Herblore to make a Rejuvenation Pool, or when a level is needed for raids. You can also freely do birdhouse runs.</p>
              <p>Slayer: You can gather Slayer points when being on task helps, without needing to Turael skip (unless you want to).</p>
              <p>Prayer: You can train prayer to unlock Rigour/Augury when you've unlocked the prayer through a Raids task.</p>
              <p>Weapon upkeep: You can kill Abyssal demons when needing whips, Zulrah when needing scales and monsters in the Catacombs of Kourend when needing shards, hunt chins to help with Armadyl kills.</p>
              <p>Zenyte jewelry: Allowed to get the crafting level (in this order) for Suffering->Anguish->Tormented->Torture. You can get it by passively seaweed farming.</p>
              <p>Castle Wars: Allowed to sell back items for tickets to unlock other items.</p>
              <p>Passive Raids: Allowed to passively partake in a specific raid after you've actively completed a task there. e.g. after actively getting a purple from CoX you are allowed to passively do CoX raids.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What happens if I mess up (accidentally starting/finishing a quest, overtraining a skill, etc)?</summary>
              <p>Let people know when you’re submitting for a rank up in the Discord, and explain what happened. These rules are very much self-enforced, and the only thing you’re getting judged for is Discord Ranks and Clan Ranks.</p>
              <p>The best advice is stick to the basic idea of Shop > Drop > Skill > Quest, and triple-check the OSRS Wiki before you start any questing/skilling to make absolutely sure that you need to do it this way.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What kind of gear can I expect to collect in Easy Tier?</summary>
              <div class="row">
                <div class="column">
                  <img src="easy_tier_melee_resize.png" alt="image of melee setup">
                </div>
                <div class="column">
                  <img src="easy_tier_mage_resize.png" alt="image of melee setup">
                </div>
                <div class="column">
                  <img src="easy_tier_range_resize.png" alt="image of melee setup">
                </div>
              </div>
            </details>
          </div>
        </details>
      </div>
      <div class="faq-accordion">
        <details>
          <summary>Quests - 6 Questions / Answers</summary>
          <div class="faq-accordion">
            <details>
              <summary>When can I start a quest?</summary>
              <p>You may only start a quest when your task (or clue step while on a clue task) requires you to. Triple check the wiki to make sure you need to start a quest to accomplish your task.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>When can I finish a quest?</summary>
              <p>You can complete any quest that you have started as per above, and that you have the prerequisite skills for. You cannot train skills to finish a quest if you are not required to finish the quest for your task. (e.g. Fairy Tale Part II) If you obtain the required skills at a later time you may finish it then.</p>
              <p>
                <strong>Note: This applies to the Recipe for Disaster subquests, not the entire Recipe for Disaster quest. Can’t do the entire quest until Barrows Gloves are required for a clue step or a diary.</strong>
              </p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I complete a certain quest for the XP reward in a certain skill?</summary>
              <p>If your task only requires you to level up certain skills, you can't start and complete quests to train them.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I complete Daddy’s Home to unlock my PoH for a construction requirement?</summary>
              <p>No, don’t pull a Shadu ;)</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need a certain amount of Quest Points to complete a requirement, what should I do?</summary>
              <p>Check out <a href="#questlistmodal">Quest List</a>
              </p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>When can I unlock fairy rings?</summary>
              <p>You may begin Fairy Tale Part II when you get a fairy ring clue scroll which cannot be accessed on foot (small islands, cosmic entity’s plane etc.)</p>
            </details>
          </div>
        </details>
      </div>
      <div class="faq-accordion">
        <details>
          <summary>Clues - 12 Questions / Answers</summary>
          <div class="faq-accordion">
            <details>
              <summary>What is the best way to get each tier of clue scroll?</summary>
              <table class="faq-table">
                <tr class="faq-tr">
                  <th class="faq-th">Tier</th>
                  <th class="faq-th">Option 1</th>
                  <th class="faq-th">Option 2</th>
                </tr>
                <tr class="faq-tr">
                  <td class="faq-td">Beginner</td>
                  <td class="faq-td">Goblins by Lumbridge (for chance at Goblin Champion Scroll)</td>
                  <td class="faq-td">Minotaurs in the Stronghold of Security</td>
                </tr>
                <tr>
                  <td class="faq-td">Easy</td>
                  <td class="faq-td">Pickpocket H.A.M. Members</td>
                  <td class="faq-td">N/A</td>
                </tr>
                <tr>
                  <td class="faq-td">Medium</td>
                  <td class="faq-td">Kill Guards around Varrock or Falador</td>
                  <td class="faq-td">Eclectic Implings in Puro-Puro (if you already have 50 Hunter)</td>
                </tr>
                <tr>
                  <td class="faq-td">Hard</td>
                  <td class="faq-td">Hellhounds (Catacombs of Kourend, Witchhaven, or Edgeville Dungeon)</td>
                  <td class="faq-td">Jellies/Warped Jellies (if you already have 52 Slayer)</td>
                </tr>
              </table>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What clue steps can you drop?</summary>
              <p>Easy Tier Must Drop List:</p>
              <div class="list">
                <ul>
                  <li>Rune Boots</li>
                  <li>Fairy Queen (Fairy Tale Part II completion)</li>
                  <li>Regal Pomp music track (A Kingdom Divided completion)</li>
                </ul>
              </div>
              <p>Easy Tier Recommended Drop List:</p>
              <div class="list">
                <ul>
                  <li>Amulet of Glory</li>
                  <li>80 Crafting is a long and expensive grind, better to wait until Medium Tier (which allows sandstone mining/seaweed farming)</li>
                </ul>
              </div>
              <p>All clue steps are fair game after Easy Tier, enjoy the grinds :)</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I complete clues I get when I’m not on a clue task, and stack up the caskets for future tasks?</summary>
              <p>No. You may either keep the clue scrolls in your bank or drop the clue scrolls you receive off-task. When you’re in Hard Tier, you may only stack Elite/Master clue caskets as you get clues you can complete.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I got an Easy Clue Uniques task but I’m only level 1 thieving?</summary>
              <p>Train to 15 Thieving by pickpocketing Men to begin this task.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I build STASH units?</summary>
              <p>Yes, provided you ALREADY have the required construction level, you can build STASH units as you receive the clue steps. NOT all at once.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Do I need to complete Troll Romance for the Hells Bells song?</summary>
              <p>No, you can unlock the song at the bottom of the mountain which can be accessed near the entrance to Keldagrim.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to unlock the Chaos Altar soundtrack but don’t have a Chaos Talisman</summary>
              <p>You are allowed to complete the Enter The Abyss miniquest for this step.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need a Gold Bar for my clue step, how do I get one?</summary>
              <p>Get 33 Magic and Telegrab one from under Varrock West Bank.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need a Diamond to craft a ring/amulet for a clue, how do I get one?</summary>
              <p>Kill Ogress Warriors or Ogress Shamans. You do NOT need to complete The Corsair Curse to access the dungeon.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need an Adamant Square Shield for a clue,how do I get one?</summary>
              <p>Named trolls at Death Plateau (no quest req) or Cam Torum Blacksmith in Varlamore.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I get 37 Prayer to fight Saradomin Wizards?</summary>
              <p>no, they can be out distanced by using a shortbow on long range and using a body blocker. Ask a clan mate in #task-help or in-game.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need Lava/Mist runes for Swan Song, how do I get them?</summary>
              <p>Purchase them from the Mage Training Arena rewards shop – total cost is 20 Telekinetic, Alchemy, and Graveyard points, and 300 enchant points.</p>
            </details>
          </div>
        </details>
      </div>
      <div class="faq-accordion">
        <details>
          <summary>Minigames - 12 Questions / Answers</summary>
          <div class="faq-accordion">
            <details>
              <summary>I need to buy a piece of this skilling outfit, which one do I buy?</summary>
              <p>Always buy the cheapest piece first. Examples of this are Graceful and the Farmer's Set.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to do Castle Wars but I only have 1 account.</summary>
              <p>Castle Wars is F2P, so you can just make another account. You just play against yourself and catch the flag once per game with your task account.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I sell back Castle Wars armour?</summary>
              <p>No, we keep all Castle Wars armour. When you complete the entirety of Hard Tier, you’re allowed to sell back armour for the final Castle Wars Elite Tier tasks.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>For the Red Decorative Set, which pieces do I have to purchase?</summary>
              <p>All pieces including both the platelegs/skirt.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Am I allowed to play LMS to get Rune Arrows?</summary>
              <p>No, the only things you are allowed to purchase from LMS are the Ring of Wealth and Magic Shortbow Scrolls provided you have the items.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>When doing a Pest Control task, I struggle to maintain participation percentage, what can I do?</summary>
              <p>Bring an axe to cut the trees and repair barricades for easy participation points.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>When on a task which requires farming, can I do Tithe Farm?</summary>
              <p>Yes, provided you don’t spend the points from your runs on any item in the collection log.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I got a Black Satchel task, how do I get a Raw Swordfish?</summary>
              <p>Frankie's Fishing Emporium in Port Piscarilius.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to get two Ancient Pages, how can I do this safely?</summary>
              <p>Check out <a href="#ancientpagemodal">Ancient Pages Guide</a>
              </p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need Bolt Racks, can I kill all Barrows brothers?</summary>
              <p>Yes, you're allowed to kill all brothers and get 100% for increased odds if you're able to. You can safespot every melee brother by running circles around the coffin with Mage/Ranged.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I don’t want to participate in Last Man Standing, can I choose to not do these tasks?</summary>
              <p>Yes, you’re allowed to manually complete all LMS tasks while staying an official task only.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I do Barbarian Assault with the clan when people are looking to get a group together?</summary>
              <p>Yes, but only after you finish all the tasks for it in Medium Tier.</p>
            </details>
          </div>
        </details>
      </div>
      <div class="faq-accordion">
        <details>
          <summary>Combat / Slayer - 20 Questions / Answers </summary>
          <div class="faq-accordion">
            <details>
              <summary>Can I bury bones on task?</summary>
              <p>Yes, as long as you don't go out of your way to use them on an altar or at the Ectofuntus.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>When can I use a Dwarf Cannon?</summary>
              <p>You may only use a cannon in elite tier as part of the weapon upkeep rule for cannonballs</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I pick up Numulite/Tokkul/Coins?</summary>
              <p>Yes, you can pick this up and store it.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I fish and cook food?</summary>
              <p>You cannot fish for food. You can however cook raw food if you have the level already (as you need it, don’t cook your entire stockpile of raw food at once)</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I just started, what can I use for food?</summary>
              <p>Some good possibilities are wines from Draynor (recommended if not using melee), kebabs, stews from any bar, or gnome food from the Grand Tree. Potatoes from the warriors’ guild are best once unlocked.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What kind of upgrades are you allowed to buy?</summary>
              <p>Anything that is sold. Think about Rune Sword once you have access to Champion's Guild and Green Dragonhide in Nardah.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What kind of upgrades are you allowed to craft?</summary>
              <p>Anything within reason. Similar to utility teleport jewelry, you can gather the material to craft any gear upgrades you have the levels for.</p>
              <p>Examples: Killing Cows for Cowhide to make Leather armour pieces. Killing Hoop Snakes for Snakeskin to make Snakeskin armour pieces.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to train Magic, what is the best monster to train on?</summary>
              <p>Start with training on Zamorak Warriors so you can get a Rune Scimitar for melee training. After that, it doesn't really matter but sand crabs and ammonite crabs are great once unlocked.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to get an Ancient Shard/Dark Totem Piece, what is the best monster to kill?</summary>
              <p>Skeletons, or Hill Giants once you can handle them. The Giant’s Den in Shayzien counts as being in the Catacombs, and is a great place to kill Hill Giants.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to kill the Giant Mole for its Skin/Claw, how will I do this?</summary>
              <p>Train to 30 range (Chickens, Cows, etc) and purchase some Adamant Arrows + Maple bow from Lowe (Varrock), this kill may take ~2 hours, having an alt with Fally Hard Diary may help.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I’m having trouble in a tough combat encounter (Fremennik Trials/Barbarian Assault/In Aid of the Myreque), can I train my combat stats?</summary>
              <p>Yes you can train your combat stats to base 30s to assist you in completing this task.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to start my Slayer grind. Can I do the Natural history quiz in the Varrock Museum for the first 9 levels?</summary>
              <p>Yes.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What can I unlock at Slayer Masters using slayer points?</summary>
              <p>The only restriction is that you cannot unlock Like a Boss until Hard Tier. It is highly recommended to first unlock Bigger and Badder for access to Superior Slayer Creatures. After that you are welcome to unlock whatever you see fit. Some good options are the Slayer Helmet, Rune Pouch and any of the automation rewards (Reptile Freezer, ‘Shroom Sprayer, etc.)</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I do Wilderness Slayer if I must train Slayer for my task?</summary>
              <p>Yes. No bosses until Hard Tier.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I have a Dark Mystic Gloves task but have not completed Priest in Peril, what do I do?</summary>
              <p>You kill Twisted Banshees in the Catacombs of Kourend (safespottable with Ranged).</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I have a Mystic Hat Light task and need to get the Slayer requirement, what do I kill?</summary>
              <p>Train Slayer to level 35 and then kill Wall Beasts</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What do I kill Turoths with?</summary>
              <p>If you have a Magic Shortbow, use Broad Arrows with that. Otherwise buy a Leaf-bladed Spear from a Slayer Master.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I have the Obor task, what is the best location to farm keys?</summary>
              <p>In the Wilderness, in a dungeon a bit west of Mage Bank. The droprate for keys in Wilderness is twice as good as outside of it.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to get a specific Slayer task (for example, Granite Dust task), can I do 9 Turael tasks and then the 10th task at Konar for points?</summary>
              <p>No. If you need a specific Slayer task, use your points for skips to get it, and otherwise use Turael skips until you get it. Turael skipping means you get a task, and if it isn't the task you need, you cancel it by doing a Turael task. Make sure to block Kalphites before doing so!</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I kill boss variants on a regular Slayer task?</summary>
              <p>In Hard Tier and above,you are allowed to unlock Like a Boss, and also, when receiving a Slayer task with a boss variant (such as Gargoyles/Kalphites/Dagannoths) you are allowed to do a max of 35 of the boss variant, plus an additional 5 kills for each tier of Combat Achievement Rewards you have unlocked (corresponding with the +5 kill increases on assigned boss tasks). (This does not apply when receiving a unique from that certain boss is your active task, or when the task is Kraken.)</p>
            </details>
          </div>
        </details>
      </div>
      <div class="faq-accordion">
        <details>
          <summary>Skilling / Misc - 22 Questions / Answers </summary>
          <div class="faq-accordion">
            <details>
              <summary>What is the link to the RS3 Task Discord?</summary>
              <p>
                <a href="https://discord.com/invite/XEYFDrc" target="_blank">RS3 Task Discord</a>
              </p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Are the rules the same for UIM?</summary>
              <p>There currently are 2 exceptions:</p>
              <div class="list">
                <ul>
                  <li>When on a clue task, UIM can train their Construction to build the STASH unit for that clue tier when they get an emote clue step.</li>
                  <li>UIM can make potions after herb runs until the max herb level needed in their current tier (Medium = 58, Hard = 70, Elite = 90).</li>
                </ul>
              </div>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What random events am I allowed to complete?</summary>
              <p>All random events are fine. Skill lamps should be placed into the skill you actively need to train for your task, followed by Herblore, or Prayer if you don’t have Druidic Ritual complete.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need money for my task (runes, arrows, Granite Body, gear upgrades)</summary>
              <p>You CAN do the Stronghold of Security for the initial 10K GP.</p>
              <p>You can then collect Steel Platebodies/Platelegs (safer) from the Wilderness with a Looting Bag and bank at Ferox Enclave/Edgeville.</p>
              <p>If you do NOT wish to enter the Wilderness you can buy silk in Al Kharid and sell it to the NPC in Ardougne but this is significantly slower.</p>
              <p>Once you have the required Agility level (ideally 50+) you can also do the Agility Pyramid for money.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need a Crafting Level for my clue/diary, what is the best method to train?</summary>
              <p>Purchasing Sand + Soda Ash from Charter ships and Glassblowing.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need the Crafting level for an Amulet of Glory, can I do Sand Mining and Seaweed Farming in Medium tier?</summary>
              <p>Yes, Easy Tier completion allows the use of Seaweed Farming + Sand Mining for Crafting grinds. However you may only farm seaweed while on a crafting task.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to get this Smithing level, but I don't have any ores yet, can I mine for them?</summary>
              <p>No, to get to 50 Smithing, you can do 1-35 buying Bronze Bars (either at Shantay or at Tai Bwo Wannai General Store), and then go to 50 fixing Motherlode Mine struts. If you have Giants’ Foundry unlocked from a previous task, you may train at Giants’ Foundry provided you do not use those points for future tasks (you may use the points to unlock moulds as those are not log slots).</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to train Agility for my task, can I pick up Marks of Grace?</summary>
              <p>Yes but they cannot be spent on future Graceful piece tasks. You can use them on Amylase or recolours.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I got a Wintertodt unique task, do Burnt Pages count?</summary>
              <p>Yes.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I got a Wintertodt unique task, am I allowed to Woodcut to get to 50 Firemaking?</summary>
              <p>Yes.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Am I allowed to do solo Wintertodt when on task?</summary>
              <p>Yes, and you can purchase a house to receive XP from repairing braziers. However you are NOT allowed to complete Druidic Ritual so soloing might be tough.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Am I allowed to fletch on a Wintertodt task?</summary>
              <p>Yes.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need to train Farming for my task, what is the best way from level 1?</summary>
              <p>Check out <a href="#farmingguidemodal">Low Level Farming Guide</a>
              </p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What is the best way to get Numulite for a Fossil Island Note?</summary>
              <p>Killing Hoop Snakes or Ammonite Crabs will be the two best ways early. If you have the Construction level, you can repair the camp and claim the 5 free fossils to exchange for Numulite.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I unlock Keldagrim for Gnome Restaurant?</summary>
              <p>No. The only two reasons to unlock Keldagrim are the Drunken Dwarf Hard Clue step and the Fremennik Diary.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I complete Fishing Contest for Gnome Restaurant?</summary>
              <p>No.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I have a Herblore requirement, but I don't have enough herbs. What should I do?</summary>
              <p> In Easy Tier, you can kill Chaos Druids and collect their herbs. The highest mandatory Herblore requirement you'll need in Easy Tier is 31 for Eadgar's Ruse.</p>
              <p>In Medium Tier, you can do herb runs and secondary runs if you need herb supplies. You can do Farming Contracts for seeds, and also thieve Master Farmers if you are out of seeds and have a Herblore requirement.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I got a Golden Tench during Aerial Fishing, can I exchange it for Molch Pearls?</summary>
              <p>You must keep the first tench you receive, any tenches after that should be sold.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I thieve Master Farmers for a seed I need for a Farming Contract?</summary>
              <p>Yes.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>What exactly can I farm once in Medium Tier?</summary>
              <p>You can farm herbs, Herblore secondaries (Limpwurt Root, Whiteberries, Snape Grass, Potato Cacti), Farming Contracts, and do Hespori.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>Can I mine gems for teleports/Slayer Bracelets?</summary>
              <p>Yes, much like other utility items, you can do this in moderation.</p>
            </details>
            <hr class="faq-hr">
            <details>
              <summary>I need a mithril grapple for my task, where can I get one?</summary>
              <p>Mith grapple drops from skeletons and barbarian spirits in the ancient cavern. You are allowed to progress barbarian training to access the cavern for this task.</p>
            </details>
          </div>
        </details>
      </div>
    </div>
  </body>
  <!-- <script type="text/javascript" src="index.js"></script> -->
</html>