{% extends "base_unauth.html" %}
{% block title %}
Forgot Password
{% endblock %}
{% block head %}
{% endblock %}
{% block context %}

<div class="register-container">
    <div class="rect-large-register">
        <div class="triangle-top-left">
            <div class="decoration-top-left shadow"></div>
        </div>
        <div class="triangle-top-right">
            <div class="decoration-top-right shadow"></div>   
        </div>
        <div class="triangle-bottom-left">
            <div class="decoration-bottom-left shadow"></div>
        </div>
        <div class="triangle-bottom-right">
            <div class="decoration-bottom-right shadow"></div>
        </div>

        <a href="/"><h1 class="register-title rsText">Forgot Password</h1></a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              <p class="flash-message rsText incomplete">{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <form class="form rsText" method="POST" action="/reset-password/request/">
            <div class="input-group rsText">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required class="rsText" placeholder="Email" autocomplete="email">
            </div>
            <div>{{ recaptcha }}</div>
            <button id="forgotButton"class="register-button rsText">Reset Password</button>
        </form>
    </div>
</div>

{% endblock %}