{% extends "base_unauth.html" %}
{% block title %}
Forgot Password
{% endblock %}
{% block head %}
{% endblock %}
{% block context %}

<div class="register-container">
    <div class="rect-large-register">
        <div class="triangle-top-left">
            <div class="decoration-top-left shadow"></div>
        </div>
        <div class="triangle-top-right">
            <div class="decoration-top-right shadow"></div>   
        </div>
        <div class="triangle-bottom-left">
            <div class="decoration-bottom-left shadow"></div>
        </div>
        <div class="triangle-bottom-right">
            <div class="decoration-bottom-right shadow"></div>
        </div>

        <a href="/"><h1 class="register-title rsText">Forgot Password</h1></a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              <p class="flash-message rsText incomplete">{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <form class="form rsText" method="POST">
            <div class="input-group rsText">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required class="rsText" placeholder="Password" autocomplete="password">
            </div>
            <div class="input-group rsText">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required class="rsText" placeholder="Confirm Password" autocomplete="password">
            </div>
            <span>
                <ul>
                    <li id="number" class="">Password must have at least one number (0-9)</li>
                    <li id="uppercase" class="">Password must have at least one uppercase letters (A-Z)</li>
                    <li id="lowercase" class="">Password must have at least one lowercase letters (a-z)</li>
                    <li id="special" class="">Password must have at least one special character. (e.g. ?,.;'"!@#$%^&*(){}[]_+=-)</li>
                    <li id="length" class="">Password must have at least 8 characters.</li>
                    <li id="match" class="">Password and confirm password must match.</li>
                </ul>
            </span>
            <button id="resetButton" class="register-button rsText">Reset Password</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#password").bind("keyup", function(){
            var regex_uppercase = new Array();
            var regex_lowercase = new Array();
            var regex_digit = new Array();
            var regex_special = new Array();
            regex_uppercase.push("[A-Z]");
            regex_lowercase.push("[a-z]");
            regex_digit.push("[0-9]");
            regex_special.push("[!@#$%^&*()_]");
    
            if ($(this).val().length >= 8){
                $('#length').addClass('complete');
            }
            else {
                $('#length').removeClass('complete');
            }
    
            for (let i = 0; i < regex_uppercase.length; i++) {
                if (new RegExp(regex_uppercase[i]).test($(this).val())) {
                    $('#uppercase').addClass('complete');
                }
                else {
                    $('#uppercase').removeClass('complete');
                }
            }
    
            for (let i = 0; i < regex_lowercase.length; i++) {
                if (new RegExp(regex_lowercase[i]).test($(this).val())) {
                    $('#lowercase').addClass('complete');
                }
                else {
                    $('#lowercase').removeClass('complete');
                }
            }
            for (let i = 0; i < regex_digit.length; i++) {
                if (new RegExp(regex_digit[i]).test($(this).val())) {
                    $('#number').addClass('complete');
                }
                else {
                    $('#number').removeClass('complete');
                }
            }
            for (let i = 0; i < regex_special.length; i++) {
                if (new RegExp(regex_special[i]).test($(this).val())) {
                    $('#special').addClass('complete');
                }
                else {
                    $('#special').removeClass('complete');
                }
            }
        });
    });
    
    $(document).ready(function(){
        $('#confirmPassword').bind('keyup', function() {
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();
    
            if (password === confirmPassword) {
                $('#match').addClass('complete');
            }
            else {
                $('#match').removeClass('complete');
            }
        });
    });
    
</script>

{% endblock %}