<td class="text-center align-middle"> 
	<button type="button" class="btn btn-lg taskHelpModal" tip="{{tip}}" link="{{link}}">
		<i class="bi bi-info-circle text-success fw-bold"></i>
	</button>
</td>
<td class="text-center align-middle">{{task}}</td>
<td class="text-center align-middle"><img  src="/static/assets/{{image}}" width= "40" height="40" alt="task_image"></td>
<td class="text-center align-middle">
	<form>
		<button class="btn btn-default updateButton" task_id="{{task_id}}" type="button" name="{{tier}}">
			<img src="/static/check_button.png" alt="check image">
		</button>
		</form>
</td>