{% extends "base.html" %}

{% block context %}

    <div class="container d-flex flex min-vh-100 py-2 mt-5 border-light" style="z-index: 1;">
        <div class="container-fluid d-flex flex justify-content-center border-light" style="z-index: 1;" >
            <div class="card scrollable bg-dark border-light" id="tasklist">
                <div class="card-header bg-dark sticky-top ">
                    <div class="flex-row d-flex justify-content-between align-items-center">
                        <h3 class="card-title text-white">Medium Task List</h5>
                            <hr class="text-white">
                            <a class="text-white topButton link_hover" aria-current="true">Back to Top</a>
                    </div>
                    <div class=" flex-row d-flex align-self-center" id="scrollAnchor">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-medium">
                            <i class="bi bi-filter fw-bold">
    
                        </i>
                        Toggle Completed
                    </button>
                    
                    <input type="text" class="form-control text-center" placeholder="Search for a task..." id="txtInputTable">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-medium">
                        <i class="bi bi-filter fw-bold">
    
                    </i>
                    Toggle Incomplete
                </button>
                
                </div>
                <!-- <br> -->
                    <!-- <div class="flex-row d-flex justify-content-center align-items-center">
                        <div class="col-5">
                            
                        </div>

                    </div> -->
                </div>

            <div class="card-body bg-dark">
                <table class="table text-white">
                <div class="container mt-3 text-white bg-dark">
                        <tbody id="tableDetails">

                            {% for item in items_medium %}
                            {% if item[2] == 'Complete' %}

                            <tr class="bg-success collapse show task{{item[3]}}_medium" id="completed-task-medium">
                                <td class="text-center align-middle">
                                    <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}" value="{{item[0]}}">
                                        <i class="bi bi-info-circle text-white fw-bold"></i>
                                    </button>
                                </td>
                                <td class="text-center align-middle">{{item[0]}}</td>
                                <td class="text-center align-middle"><img  src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload"></td>
                                <td class="text-center align-middle">
                                    <form>
                                        <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="mediumTasks">
                                            <img src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                        </button>
                                        </form>
                                </td>
                            </tr>
                            

                            {% elif item[4] == True %}

                            <tr class="bg-warning">
                                <td class="text-center align-middle">
                                    <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}" value="{{item[0]}}">
                                        <i class="bi bi-info-circle text-white fw-bold"></i>
                                    </button>
                                </td>
                                <td class="text-center align-middle fw-bold">{{item[0]}}</td>
                                <td class="text-center align-middle"><img  src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload"></td>
                                <td>
                                    <!-- <img class="d-none "src="/static/assets/placeholder_incomplete.png" alt="task_image"> -->
                                </td>
                            </tr>


                            {% else %}

                            <tr class="collapse show task{{item[3]}}_medium" id="incomplete-task-medium" name="{{item[0]}}">
                                <td class="text-center align-middle"> 
                                    <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}" value="{{item[0]}}">
                                        <i class="bi bi-info-circle text-success fw-bold"></i>
                                    </button>
                                </td>
                                <td class="text-center align-middle">{{item[0]}}</td>
                                <td class="text-center align-middle"><img  src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload"></td>
                                <td class="text-center align-middle">
                                    <form>
                                        <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="mediumTasks">
                                            <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                        </button>
                                        </form>
                                </td>
                            </tr>
                            
                            {% endif %}
                            {% endfor %}

                            <tr class="d-none" id="none-found">
                                <td>
                                    <button type="button" class="btn btn-lg taskHelpModal">
                                        <i class="bi bi-emoji-frown text-white fw-bold"></i>
                                    </button>
                                </td>
                                <td class="text-center align-middle">No results found!</td>

                                <td><img src="/static/assets/placeholder_incomplete.png" alt="placeholder_image"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            
            </div>
        </div>
    </div>


        <!-- Modal -->
        <div class="modal fade" id="taskHelpModal"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-dark">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-white w-100 fw-bold" id="staticBackdropLabel">Task Help</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-white" id="taskHelpModalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                </div>
                </div>
            </div>
            </div>

  <!-- For searching purpose -->
  <script>
      $(document).ready(function () {
     
          $("#txtInputTable").on("keyup", function () {
              var value = $(this).val().toLowerCase();     
              $("#tableDetails tr").filter(function () {
                  $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1);
                    if ($("#tableDetails tr").filter(":visible").length < 1){
                        $("#none-found").removeClass("d-none");
                        $("#none-found").show();
                    }
                    else{
                        $("#none-found").hide();
                     
                    }
              });
          });
      });
  </script>


{% endblock %}






