{% extends "base.html" %}

<title>{% block title %}Task App Task List{%endblock %}</title> {% block context %}
<div class="container mt-5"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}} </div> {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %} </div>
<div class="container d-flex flex min-vh-100 py-2 mt-5" style="z-index: 1;">
	<div class="container d-flex flex justify-content-center" style="z-index: 1;" >
		<div class="card scrollable" id="tasklist">
			<div class="card-header bg-dark sticky-top ">
                <div class="row">
                    <div class="col-9">
                        <h3 class="card-title text-white justify-content-">Task List</h5>
                    </div>
                    <div class="col-3 mt-2">
                        <a class="text-white topButton link_hover" aria-current="true">Back to Top</a>
                    </div>
                </div>
				
                <h6 class="text-white card-subtitle ">If LMS is disabled, uncompleted tasks will not count against tier completion.</h6>
                <br>
                <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                    <li class="nav-item active">
                        <a class="nav-link active text-white bg-dark topButton" aria-current="true" data-bs-toggle="tab" href="#easy">Easy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark topButton" data-bs-toggle="tab" href="#medium">Medium</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark topButton" data-bs-toggle="tab" href="#hard">Hard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark topButton" data-bs-toggle="tab" href="#elite">Elite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark topButton" data-bs-toggle="tab" href="#pets">Pets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark topButton" data-bs-toggle="tab" href="#passive">Passive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark topButton" data-bs-toggle="tab" href="#extra">Extra</a>
                    </li>
                </ul>

            </div>
            
            <div class="card-body tab-content bg-dark">
                <div class="tab-pane" id="easy">
                    <div class=" flex-row d-flex justify-content-between align-self-center" id="scrollAnchor">

                            <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-easy">
                                <i class="bi bi-filter fw-bold">

                            </i>
                            Toggle Completed
                        </button>
                        

                        <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-easy">
                            <i class="bi bi-filter fw-bold">

                        </i>
                        Toggle Incomplete
                    </button>

                    </div>
                    <hr class="text-white">
                    
                    {% for item in items_easy %}
                    {% if item[2] == 'Complete'%}
                    <div id="task{{item[3]}}_easy" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-easy">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-easy" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-easy">
                                <img  src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-easy">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="easyTasks">
                                        <img  src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% elif item[4] == True %}
                    <div class="flex-row d-flex bg-warning align-items-center ">
                        <div class="col-2 justify-content-center collapse show">
                            <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                <i class="bi bi-info-circle text-success fw-bold"></i>
                            </button>
                        </div>
                        <div class="col-6 mt-3">
                            <p class="text-white fw-bold">{{item[0]}}</p>
                            
                        </div>
                        <div class="col-2 ">
                            <img data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                        </div>
                        <div>
                        </div>

                    </div>

                    {% else %}
                    <div id="task{{item[3]}}_easy" >
                    <div class="flex-row d-flex align-items-center">
                        <div class="col-2 justify-content-center collapse show" id="incomplete-task-easy">
                            <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                <i class="bi bi-info-circle text-success fw-bold"></i>
                            </button>
                        </div>
                        <div class="col-6 collapse show" id="incomplete-task-easy">
                            <span class="text-white" >{{item[0]}}</span>
                        </div>
                        <div class="col-2 collapse show" id="incomplete-task-easy">
                            <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                        </div>
                        <div>

                        </div>
                        <div class="col-2 collapse show justify-content-right" id="incomplete-task-easy">

                            <form>

                            <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="easyTasks">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                            </button>
                            </form>
                        </div>
                    </div>
                </div>

                    {% endif %}
                    {% endfor %}



                </div>
                <div class="tab-pane bg-dark" id="medium">
                    <div class=" flex-row d-flex justify-content-between align-self-center">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-medium"><i class="bi bi-filter fw-bold">
                             
                        </i>
                        Toggle Completed
                    </button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-medium"><i class="bi bi-filter fw-bold">
              
                    </i>
                    Toggle Incomplete
                </button>

                </div>
                <hr class="text-white">
                    {% for item in items_medium %}
                    {% if item[2] == 'Complete'%}


                    <div id="task{{item[3]}}_medium" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-medium">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-medium" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-medium">
                                <img src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-medium">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="mediumTasks" >
                                        <img src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>

                    {% elif item[4] == True %}
                    <div class="flex-row d-flex bg-warning align-items-center">
                        <div class="col-2 justify-content-center collapse show">
                            <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                <i class="bi bi-info-circle text-success fw-bold"></i>
                            </button>
                        </div>
                        <div class="col-6 mt-3">
                            <p class="text-white fw-bold">{{item[0]}}</p>
                            
                        </div>
                        <div class="col-2 ">
                            <img data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                        </div>
                        <div>

                        </div>

                    </div>

                    {% else %}



                    <div id="task{{item[3]}}_medium" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-medium">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show" id="incomplete-task-medium">
                                <span class="text-white mt-3" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-medium">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-medium">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="mediumTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane bg-dark" id="hard">


                    <div class=" flex-row d-flex justify-content-between align-self-center">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-hard"><i class="bi bi-filter fw-bold">
                             
                        </i>
                        Toggle Completed
                    </button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-hard"><i class="bi bi-filter fw-bold">
              
                    </i>
                    Toggle Incomplete
                </button>

                </div>
                <hr class="text-white">
                    {% for item in items_hard %}
                    {% if item[2] == 'Complete'%}

                    <div id="task{{item[3]}}_hard" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-hard">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-hard" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-hard">
                                <img src="/static/assets/placeholder_complete.png"  data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-hard">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="hardTasks">
                                        <img  src="/static/assets/placeholder_complete.png"  data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>



                    {% elif item[4] == True %}
                    <div class="flex-row d-flex bg-warning align-items-center">
                        <div class="col-2 justify-content-center collapse show">
                            <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                <i class="bi bi-info-circle text-success fw-bold"></i>
                            </button>
                        </div>
                        <div class="col-6">
                            <p class="text-white mt-3 fw-bold">{{item[0]}}</p>
                            
                        </div>
                        <div class="col-4 ">
                            <img data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                        </div>
                        <div>

                        </div>

                    </div>

                    {% else %}

                    <div id="task{{item[3]}}_hard" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-hard">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show" id="incomplete-task-hard">
                                <span class="text-white mt-3" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-hard">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-hard">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="hardTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane bg-dark" id="elite">

                    <div class=" flex-row d-flex justify-content-between align-self-center">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-elite"><i class="bi bi-filter fw-bold">
                             
                        </i>
                        Toggle Completed
                    </button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-elite"><i class="bi bi-filter fw-bold">
              
                    </i>
                    Toggle Incomplete
                </button>

                </div>
                <hr class="text-white">
                    {% for item in items_elite %}
                    {% if item[2] == 'Complete'%}

                    <div id="task{{item[3]}}_elite" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-elite">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show " id="completed-task-elite" name="task" >
                                <p class="text-white mt-3" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-elite">
                                <img src="/static/assets/placeholder_complete.png"  data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-elite">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="eliteTasks">
                                        <img  src="/static/assets/placeholder_complete.png"  data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>

                    {% elif item[4] == True %}
                    <div class="flex-row d-flex bg-warning align-items-center">
                        <div class="col-2 justify-content-center collapse show">
                            <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                <i class="bi bi-info-circle text-success fw-bold"></i>
                            </button>
                        </div>
                        <div class="col-6">
                            <p class="text-white mt-3 fw-bold">{{item[0]}}</p>
                            
                        </div>
                        <div class="col-4 ">
                            <img data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                        </div>
                        <div>

                        </div>

                    </div>

                    {% else %}


                    <div id="task{{item[3]}}_elite" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-elite">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="{{item[5]}}" link="{{item[6]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show" id="incomplete-task-elite">
                                <span class="text-white mt-3" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-elite">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-elite">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="eliteTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>

                <div class="tab-pane bg-dark" id="pets">
                    <div class=" flex-row d-flex justify-content-between align-self-center">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-pets"><i class="bi bi-filter fw-bold">
                             
                        </i>
                        Toggle Completed
                    </button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-pets"><i class="bi bi-filter fw-bold">
              
                    </i>
                    Toggle Incomplete
                </button>

                </div>
                <hr class="text-white">
                    <h5 class="text-white align-items-center">Boss Pets</h5>
                    <br>
                    {% for item in items_bosspet %}
                    {% if item[2] == 'Complete'%}


                    <div id="task{{item[3]}}_bosspet" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-pets">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-pets" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-pets">
                                <img src="/static/assets/placeholder_complete.png"  data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-pets">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="bossPetTasks">
                                        <img  src="/static/assets/placeholder_complete.png"  data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>

                    {% else %}


                    <div id="task{{item[3]}}_bosspet" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-pets">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="incomplete-task-pets">
                                <span class="text-white" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-pets">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-pets">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="bossPetTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                    <br>
                    <h5 class="text-white">Skilling Pets</h5>
                    <br>

                    {% for item in items_skillpet %}
                    {% if item[2] == 'Complete'%}

                    <div id="task{{item[3]}}_skillpet" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-pets">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3 " id="completed-task-pets" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-pets">
                                <img src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-pets">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="skillPetTasks">
                                        <img src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>


             

                    {% else %}

                    <div id="task{{item[3]}}_skillpet" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-pets">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="incomplete-task-pets">
                                <span class="text-white" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-pets">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-pets">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="skillPetTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                    <br>
                    <h5 class="text-white">Other Pets</h5>
                    <br>

                    {% for item in items_otherpet %}
                    {% if item[2] == 'Complete'%}


                    
                    <div id="task{{item[3]}}_otherpet" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-pets">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-pets" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-pets">
                                <img src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-pets">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="otherPetTasks">
                                        <img src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>

             

                    {% else %}

                    <div id="task{{item[3]}}_otherpet" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-pets">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="incomplete-task-pets">
                                <span class="text-white" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-pets">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-pets">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="otherPetTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>

                <div class="tab-pane bg-dark" id="passive">

                    <div class=" flex-row d-flex justify-content-between align-self-center">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-passive"><i class="bi bi-filter fw-bold">
                             
                        </i>
                        Toggle Completed
                    </button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-passive"><i class="bi bi-filter fw-bold">
              
                    </i>
                    Toggle Incomplete
                </button>

                </div>
                <hr class="text-white">
                    {% for item in items_passive %}
                    {% if item[2] == 'Complete'%}


                    <div id="task{{item[3]}}_passive" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-passive">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-passive" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-passive">
                                <img src="/static/assets/placeholder_complete.png"  data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-passive">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="passiveTasks">
                                        <img src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>


                    {% else %}



                    <div id="task{{item[3]}}_passive" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-passive">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="incomplete-task-passive">
                                <span class="text-white" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-passive">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-passive">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="passiveTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>

                <div class="tab-pane bg-dark" id="extra">

                    <div class=" flex-row d-flex justify-content-between align-self-center">

                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#completed-task-extra"><i class="bi bi-filter fw-bold">
                             
                        </i>
                        Toggle Completed
                    </button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#incomplete-task-extra"><i class="bi bi-filter fw-bold">
              
                    </i>
                    Toggle Incomplete
                </button>

                </div>
                <hr class="text-white">
                    {% for item in items_extra %}
                    {% if item[2] == 'Complete'%}


                    <div id="task{{item[3]}}_extra" >
                        <div class="flex-row d-flex bg-success align-items-center "name="task">
                            <div class="col-2 justify-content-center collapse show" id="completed-task-extra">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-white fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="completed-task-extra" name="task" >
                                <p class="text-white" value="{{item[0]}}" name="task">{{item[0]}}</p>
                            </div>
                            
                            <div class="col-2 collapse show  " id="completed-task-extra">
                                <img src="/static/assets/placeholder_complete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div class="col-2 collapse show " id="completed-task-extra">
                                <form>
                                    <button class="btn btn-default revertButton" task_id="{{item[3]}}" type="button" name="extraTasks">
                                        <img src="/static/assets/placeholder_complete.png" data-src="/static/Remove_button.png" alt="check image" class="lazyload">
                                    </button>
                                    </form>
                            </div>
                        </div>
                    </div>

                    {% else %}

                    

                    <div id="task{{item[3]}}_extra" >
                        <div class="flex-row d-flex align-items-center">
                            <div class="col-2 justify-content-center collapse show" id="incomplete-task-extra">
                                <button type="button" class="btn btn-lg taskHelpModal" tip="None" link="{{item[5]}}">
                                    <i class="bi bi-info-circle text-success fw-bold"></i>
                                </button>
                            </div>
                            <div class="col-6 collapse show mt-3" id="incomplete-task-extra">
                                <span class="text-white" >{{item[0]}}</span>
                            </div>
                            <div class="col-2 collapse show" id="incomplete-task-extra">
                                <img src="/static/assets/placeholder_incomplete.png" data-src="/static/assets/{{item[1]}}"width= "40" height="40" alt="task_image" class="lazyload">
                            </div>
                            <div>
    
                            </div>
                            <div class="col-2 collapse show justify-content-right" id="incomplete-task-extra">
    
                                <form>
    
                                <button class="btn btn-default updateButton" task_id="{{item[3]}}" type="button" name="extraTasks">
                                    <img src="/static/assets/placeholder_incomplete.png" data-src="/static/check_button.png" alt="check image" class="lazyload">
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="taskHelpModal"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-dark">
            <div class="modal-header text-center">
                <h4 class="modal-title text-white w-100 fw-bold" id="staticBackdropLabel">Task Help</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white" id="taskHelpModalBody">
                <input type="text" name="bookId" id="bookId" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
            </div>
        </div>
        </div>

        <!-- <script>
            let mybutton = document.getElementById("btn-back-to-top-card");
            window.onscroll = function() {
                scrollFunction();
            };
        
            function scrollFunction() {
                var card = document.getElementById("");

                if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }
            mybutton.addEventListener("click", backToTop);
        
            function backToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
            </script> -->
<script>
    $(document).ready(function() {
        $(".active").removeClass("active");
        $("#task-list").addClass("active");
    });
</script>
<script>
    function toggler(Id){
        $("#" + Id).toggle();
    }
</script>


{% endblock %}