{% extends "base_updated.html" %}
{% block title %}
{{task_type|capitalize}} Task List
{% endblock %}
{% block head %}
<meta id="tier" data-tier="{{task_type}}">
{% endblock %}
{% block context %}
<div class="task-title rsText">
    <h1>Pets Task List</h1>
    <p>Clicking a Task Image opens a Wiki Link for the task!</p>
</div>

    <div class="container">
        <div class="tasklist-pets-main-content">
            <div class="space-under">
                <div class="search-container">
                    <button class="button-complete button-green shadow rsText" onclick="hideComplete()"> Toggle   Complete</button>
                    <input type="text" class="txtInputTable form-control text-center rsText" placeholder="Search for a task..." id="txtInputTable">
                     <button class="button-incomplete button-orange rsText" onclick="hideIncomplete()">Toggle Incomplete</button>
                </div>
            </div>
            
            <table id="tableDetails">
                <tbody>

                    <!-- Completed tasks -->
                     <h2 class="pet-label rsText">Boss Pets</h2>
                    {% for item in items_bosspet %}
                    {% if item.isCompleted %}
                    <tr>
                        <div class="rect complete-hover space-under" data-tooltip="Mark Incomplete" name="{{item.name}}">
                            <div class="triangle-top-left">
                                <div class="decoration-top-left shadow"></div>
                            </div>
                            <div class="triangle-top-right">
                                <div class="decoration-top-right shadow"></div>   
                            </div>
                            <div class="triangle-bottom-left">
                                <div class="decoration-bottom-left shadow"></div>
                            </div>
                            <div class="triangle-bottom-right">
                                <div class="decoration-bottom-right shadow"></div>
                            </div>
                                <div id="{{item.uuid}}" class="content-container rsText revertButton" data-type="bossPets">
                                        <div class="square cut-corners square-complete">
                                            <a href="{{item.wiki_link}}" target="_blank"><img class="lazyload task-image" src="/static/assets/{{item.asset_image}}" alt="" width="50px" height="50px" name="No tip!"></a>
                                        </div>
                                    <p class="complete">{{item.name}}</p>
                                    <p class="complete">--/--/---- --:--</p>
                                </div>
                        </div>
                    </tr>

                    {% else %}
                    <tr>
                        <div class="rect incomplete-hover space-under" data-tooltip="Mark Complete" name="{{item[0]}}">
                            <div class="triangle-top-left">
                                <div class="decoration-top-left shadow"></div>
                            </div>
                            <div class="triangle-top-right">
                                <div class="decoration-top-right shadow"></div>   
                            </div>
                            <div class="triangle-bottom-left">
                                <div class="decoration-bottom-left shadow"></div>
                            </div>
                            <div class="triangle-bottom-right">
                                <div class="decoration-bottom-right shadow"></div>
                            </div>
                                <div id="{{item.uuid}}" class="content-container rsText updateButton" data-type="bossPets">
                                        <div class="square cut-corners square-incomplete">
                                            <a href="{{item.wiki_link}}" target="_blank"><img class="lazyload task-image" src="/static/assets/{{item.asset_image}}" alt="" width="50px" height="50px" name="No tip!"></a>
                                        </div>
                                    <p class="incomplete">{{item.name}}</p>
                                    <p class="incomplete">--/--/---- --:--</p>
                                </div>
                        </div>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    <h3 class="rsText">Skilling Pets</h3>

                    {% for item in items_skillpet %}
                    {% if item.isCompleted %}
                    <tr>
                        <div class="rect complete-hover space-under" data-tooltip="Mark Incomplete" name="{{item[0]}}">
                            <div class="triangle-top-left">
                                <div class="decoration-top-left shadow"></div>
                            </div>
                            <div class="triangle-top-right">
                                <div class="decoration-top-right shadow"></div>   
                            </div>
                            <div class="triangle-bottom-left">
                                <div class="decoration-bottom-left shadow"></div>
                            </div>
                            <div class="triangle-bottom-right">
                                <div class="decoration-bottom-right shadow"></div>
                            </div>
                                <div id="{{item.uuid}}" class="content-container rsText revertButton" data-type="skillPets">
                                        <div class="square cut-corners square-complete">
                                            <a href="{{item.wiki_link}}" target="_blank"><img class="lazyload task-image" src="/static/assets/{{item.asset_image}}" alt="" width="50px" height="50px" name="No tip!"></a>
                                        </div>
                                    <p class="complete">{{item.name}}</p>
                                    <p class="complete">--/--/---- --:--</p>
                                </div>
                        </div>
                    </tr>

                    {% else %}
                    <tr>
                        <div class="rect incomplete-hover space-under" data-tooltip="Mark Complete" name="{{item[0]}}">
                            <div class="triangle-top-left">
                                <div class="decoration-top-left shadow"></div>
                            </div>
                            <div class="triangle-top-right">
                                <div class="decoration-top-right shadow"></div>   
                            </div>
                            <div class="triangle-bottom-left">
                                <div class="decoration-bottom-left shadow"></div>
                            </div>
                            <div class="triangle-bottom-right">
                                <div class="decoration-bottom-right shadow"></div>
                            </div>
                                <div id="{{item.uuid}}" class="content-container rsText updateButton" data-type="skillPets">
                                        <div class="square cut-corners square-incomplete">
                                            <a href="{{item.wiki_link}}" target="_blank"><img class="lazyload task-image" src="/static/assets/{{item.asset_image}}" alt="" width="50px" height="50px" name="No tip!"></a>
                                        </div>
                                    <p class="incomplete">{{item.name}}</p>
                                    <p class="incomplete">--/--/---- --:--</p>
                                </div>
                        </div>
                    </tr>
                    {% endif %}
                    {% endfor %}


                    <h3 class="rsText">Other Pets</h3>

                    {% for item in items_otherpet %}
                    {% if item.isCompleted %}
                    <tr>
                        <div class="rect complete-hover space-under" data-tooltip="Mark Incomplete" name="{{item[0]}}">
                            <div class="triangle-top-left">
                                <div class="decoration-top-left shadow"></div>
                            </div>
                            <div class="triangle-top-right">
                                <div class="decoration-top-right shadow"></div>   
                            </div>
                            <div class="triangle-bottom-left">
                                <div class="decoration-bottom-left shadow"></div>
                            </div>
                            <div class="triangle-bottom-right">
                                <div class="decoration-bottom-right shadow"></div>
                            </div>
                                <div id="{{item.uuid}}" class="content-container rsText revertButton" data-type="otherPets">
                                        <div class="square cut-corners square-complete">
                                            <a href="{{item.wiki_link}}" target="_blank"><img class="lazyload task-image" src="/static/assets/{{item.asset_image}}" alt="" width="50px" height="50px" name="No tip!"></a>
                                        </div>
                                    <p class="complete">{{item.name}}</p>
                                    <p class="complete">--/--/---- --:--</p>
                                </div>
                        </div>
                    </tr>

                    {% else %}
                    <tr>
                        <div class="rect incomplete-hover space-under" data-tooltip="Mark Complete" name="{{item[0]}}">
                            <div class="triangle-top-left">
                                <div class="decoration-top-left shadow"></div>
                            </div>
                            <div class="triangle-top-right">
                                <div class="decoration-top-right shadow"></div>   
                            </div>
                            <div class="triangle-bottom-left">
                                <div class="decoration-bottom-left shadow"></div>
                            </div>
                            <div class="triangle-bottom-right">
                                <div class="decoration-bottom-right shadow"></div>
                            </div>
                                <div id="{{item.uuid}}" class="content-container rsText updateButton" data-type="otherPets">
                                        <div class="square cut-corners square-incomplete">
                                            <a href="{{item.wiki_link}}" target="_blank"><img class="lazyload task-image" src="/static/assets/{{item.asset_image}}" alt="" width="50px" height="50px" name="No tip!"></a>
                                        </div>
                                    <p class="incomplete">{{item.name}}</p>
                                    <p class="incomplete">--/--/---- --:--</p>
                                </div>
                        </div>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

<!-- For searching purpose -->
<script>
$(document).ready(function(){
    $("#txtInputTable").on("keyup", function(){
        var value = $(this).val().toLowerCase();
        $(".rect").filter(function(){
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>

<script>
function hideComplete() {
    var x = document.getElementsByClassName("complete-hover");
    var i;
    for (i = 0; i < x.length; i++) {
        if (x[i].style.display === "none") {
            x[i].style.display = "block";
        } else {
            x[i].style.display = "none";
        }
    }
}

function hideIncomplete() {
    var x = document.getElementsByClassName("incomplete-hover");
    var i;
    for (i = 0; i < x.length; i++) {
        if (x[i].style.display === "none") {
            x[i].style.display = "block";
        } else {
            x[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}
