<div class="flex-row d-flex align-items-center bg-success">
	<div class="col-2 justify-content-center collapse show" id="incomplete-task-{{task_type}}">
		<button type="button" class="btn btn-lg taskHelpModal" tip="{{tip}}" link="{{link}}">
			<i class="bi bi-info-circle text-white fw-bold"></i>
		</button>
	</div>
	<div class="col-6 collapse show " id="completed-task-{{task_type}}"> <span class="text-white" id=task_test>{{task}}</span> </div>
	<div class="col-2 collapse show" id="completed-task-{{task_type}}"> <img src="/static/assets/{{image}}" width="40" height="40" alt="task_image"> </div>
	<div> </div>
	<div class="col-2 collapse show justify-content-right" id="completed-task-{{task_type}}">
		<form>
			<button class="btn btn-default revertButton" task_id="{{task_id}}" type="button" name="{{tier}}"> <img src="/static/Remove_button.png" alt="cancel image"> </button>
		</form>
	</div>
</div>